* @BborisB @YohanF1245 @EnguerranSSG @MessaKami
/doc/bot-feedback @BborisB @YohanF1245 @EnguerranSSG @MessaKami @Srekaens @julienbeauchant
/doc/bot-onboarding @BborisB @YohanF1245 @EnguerranSSG @MessaKami @Martial59110 @aReynier
/doc/bot-signature @BborisB @YohanF1245 @EnguerranSSG @MessaKami