* @BborisB @YohanF1245 @EnguerranSSG @MessaKami
/doc/bot-feedback @Srekaens @BborisB @julienbeauchant
/doc/bot-onboarding @Martial59110 @EnguerranSSG @MessaKami @aReynier
/doc/bot-signature @YohanF1245